@import url(./styles.css);

/*Menú de navegación*/
nav{
    display: flex;
    height: 100px;
    margin: 0 auto;
    background-color: #DD761C;
    justify-content: space-between; 
    align-items: center;
    font-weight: bold;
}

.logo{
    width: 60px;
}

.logo img{
    width: 100%;
}

.contenedor-menu{
    

}

.menu li{
    display: inline-block;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #6DC5D1;
}

.carrito{
    display: flex;
    align-items: center;
}

.carrito img{
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    padding: 0 20px;
}
